$color-primary-black: #000;
$color-primary-white: #fff;
$color-primary-carbon: #17171b;

$color-secondary-red: #cf2e2e;
$color-secondary-grey: #787a70;

$padding-default: 1.5rem;
$margin-innerElement-default: 0.5rem;

@mixin logo {
	width: 4.5rem;
	aspect-ratio: auto 60/50.58;
}

@mixin headerContainer {
	padding: $padding-default;
	max-height: 4rem;
	background-color: $color-primary-black;
	color: $color-primary-white;
}
