@use "./partials/variables" as *;
@use "./partials/typography" as *;

html,
body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Inter", Helvetica, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $padding-default;
	max-height: 5.5rem;
	background-color: $color-primary-black;
	color: $color-primary-white;

	&__logo {
		@include logo;
	}
}
