@use "./partials/variables" as *;
@use "./partials/typography" as *;

html,
body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Inter", Helvetica, sans-serif;
}

h5 {
	margin: 0;
	font-size: 1.25rem;
}

h6 {
	margin: 0;
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: $color-primary-white;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include headerContainer;

	&__logo {
		@include logo;
		padding-left: 1rem;
	}

	&__date {
		padding-right: 1rem;
	}
}

.main {
	padding: $padding-default;
	background-color: $color-primary-carbon;
	color: $color-primary-white;

	&__container {
		display: flex;
		padding: $padding-default;
	}

	&__image {
		object-fit: cover;
		border-radius: 10px;
		width: 60vw;
		height: 40vw;
	}

	&__textbox {
		padding: $padding-default;
		align-self: center;
		width: 25vw;
	}

	&__button {
		margin: 0 auto;
		padding: 0.75rem;
		border-radius: 2px;
		box-shadow: 3px 2px 1px $color-primary-white;
		height: fit-content;
		width: fit-content;
		background-color: $color-secondary-red;
		font-size: 1.25rem;
		font-weight: 600;
		color: $color-primary-white;

		&:hover {
			cursor: pointer;
		}
	}
}

.footer {
	display: flex;
	padding: $padding-default;
	background-color: $color-primary-black;
	color: $color-primary-white;

	&__header {
		margin: $margin-innerElement-default;
	}

	&__email {
		margin: $margin-innerElement-default;
	}

	&__contact {
		padding-right: 3.5rem;
		// border: 1px solid yellow;
	}

	&__icon {
		padding: 0.75rem 0.25rem 0.75rem 0.5rem;
		width: 2rem;
		height: 2rem;
	}
}
